.root {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  margin-top: 20px;
}

.label {
  display: flex;
  align-items: center;

}

.divider {
  align-self: flex-end;
  flex-grow: 1;
  height: 1px;
  margin: 0 6px;
  opacity: 0.2;
  border-bottom: 1px dashed #818C99;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.value {
  display: flex;
}

.amount {}
.currency {
  margin-left: 4px;;
}



