.root {
  display: flex;
  align-items: center;
  margin: 8px 0;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

.label {
  font-size: 12px;
  line-height: 14px;
  color: #0078FF;
  margin-left: 12px;

}
