.root {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 13% 40% 13% 19%;
  gap: 0 5%;
  padding: 9px 0;
  border-bottom: 1px solid rgba(162, 167, 185, 0.5);
}
.column {
  display: flex;
}
.inputLabel {
  display: none;
}

.label {
  font-size: 12px;
  line-height: 14px;
}

.mark {
  margin-left: 4px;
}

.price {
  font-size: 12px;
  line-height: 14px;
  color: #FFF;
  margin-right: 3px;
}
.delete {
  margin-left: auto;
}
.inputRoot {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  background-color: transparent;

  .input {
    padding: 0;
    font-size: 12px;
    height: 14px;
    background-color: transparent;
  }
}

